@import "tailwindcss";

@theme {
  --color-primary: #050816;
  --color-secondary: #aaa6c3;
  --color-tertiary: #151030;
  --color-black-100: #100d25;
  --color-black-200: #090325;
  --color-white-100: #f3f3f3;

  --background-image-hero-pattern: url('/src/assets/herobg.png');
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-primary);
  color: white;
  overflow-x: hidden;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--color-primary);
}
::-webkit-scrollbar-thumb {
  background: #915eff;
  border-radius: 5px;
}

.violet-gradient {
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 50%);
}

.green-pink-gradient {
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.shadow-card {
  box-shadow: 0px 35px 120px -15px #211e35;
}